:root {
  --amarelo: #e8b923;
  --bege: #f3e7d3;
  --branco: #f0f0f0;
  --texto: #5a4632;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: var(--bege);
  color: var(--texto);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;

  div:nth-child(1) {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
  }
}

.logo {
  max-width: 70px;
  margin: 20px;
}

nav {
  background: var(--amarelo);
  padding: 15px;
  text-align: start;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.hero {
  text-align: start;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-size: 30px;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.cursos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  padding-top: 0;
  border-radius: 12px;
}

h3 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  img {
    max-width: 30px;
  }
}

video {
  width: 100%;
  border-radius: 10px;
}

footer {
  width: 100%;
  text-align: start;
  padding: 5px 0 5px 0;
  background: var(--amarelo);
  color: white;
  bottom: 0;

  p {
    margin-left: 20px;
  }
}

@media (max-width: 500px) {
  header {
    h1 {
      font-size: 22px;
    }
  }

  nav {
    text-align: center;
  }
}
